body {
  margin: 0;
  padding: 0;
  background-color: #cfe6ca;
}

.header {
  background-color: #0d5b79;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  border-bottom: 4px solid white;
}
